html {
    font-size: 10px;
}
h1 {
    color: #3f0;

}

.logo {
    background-image: url("../img/77848.png");
    background-size: cover;
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
    
}